<%= form_for @conn, relationship_path(@conn, :create), [as: :relationship], fn f -> %>
  <div><%= hidden_input f, :followed_id, value: @user.id %></div>
  <%= submit "Follow", class: "btn btn-primary" %>
<% end %>
