<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= tag :img, src: gravatar_url(@user) %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
