<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <img class="gravatar" src="<%= gravatar_url(@user.email) %>" alt="<%= @user.name %>">
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
