<div class="footer">
  <small>
    PH Microblog
  </small>
  <nav>
    <ul>
      <li><a href="<%= static_page_path(:about)   %>">About</a></li>
      <li><a href="<%= static_page_path(:contact) %>">Contact</a></li>
    </ul>
  </nav>
</div>
