<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li><a href="<%= static_page_path(:home) %>">Home</a></li>
          <li><a href="<%= static_page_path(:help) %>">Help</a></li>
          <li><a href="#">Sign in</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
