<%= if @errors do %>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="alert alert-danger">
        <ul>
          <%= for error <- Enum.reverse(@errors) do %>
            <li><%= PhMicroblog.ErrorMessage.inspect error %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
